.main-body {
    display: flex;
    /* Display sections side by side */
    flex-wrap: wrap;
    margin-top: 20px;
}

.main-section {
    width: calc(20% - 10px);
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

@media (max-width: 800px) {
    .main-section {
        width: calc(33.33% - 10px);
    }
}