.body{
    background-color:#f4f5f8;

}

.card {
    display: flex;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* Adding a subtle box shadow */
    background-color: white;
    margin: 20px;
    position: relative;
    max-width: 400px;
}

.card-content {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    /* Adding padding for spacing */
    align-items: center;
}

.card-img {
    position: absolute;
    /* Positioning the image */
    top: 0;
    /* Aligning the image to the top */
    right: 0;
    /* Aligning the image to the right */
    margin-top: 10px;
    margin-right: 10px;
}


.card-img-logo {
    height: 50px;
    /* You can adjust the size as needed */
    width: 50px;
    /* You can adjust the size as needed */
    border-radius: 50%;
    /* Creating a circular border */
}

.card-title {
    margin-top: 10px;
    font-size: 20px;
    font-weight: semi-bold;
    color: #888;
}

.card-subheading {
    margin-top: 5px;
    font-size: 20px;
    color: black;
    /* Adding a muted color for the subheading */
    font-weight: semi-bold;
}

 .card-footer {
     display: flex;
     align-items: center;
     margin-top: 18px;
 }

 /* Card.css */
 .card-footer-icon {
     width: 15px;
     /* Adjust the width as needed */
     height: 15px;
     /* Adjust the height as needed */
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: white;
     border-radius: 5px;
     /* Adding border radius */
     border: 2px rgba(0, 0, 0, 0.2);
     /* Light-black border */
     padding: 7px;
     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
     /* Adding shadow effect */
 }

 .card-footer-icon-i {
     font-size: 16px;
     /* Adjust the font size as needed */
     color: white;
     /* Icon color */
     background-color: grey;
     /* Icon background color */
     border-radius: 5px;
     /* Rounded border for the icon */
     border: 2px solid grey;
     /* padding: 5px; Adding padding for spacing */
 }

  .card-footer-text {
      display: flex;
      align-items: flex-start;
      margin-left: 4px;
      font-size: 14px;

      background-color: white;
      border-radius: 5px;
      /* Adding border radius */
      border: 2px rgba(0, 0, 0, 0.2);
      /* Light-black border */
      padding: 7px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }

  .card-footer-text-icon {
      color: white;
      background-color: rgb(177, 165, 165);
      /* Apply the background color */
      border-radius: 50%;
      /* Make the background circular */
      padding: 5px;
  }

  .card-footer-text-txt {
      margin-left: 4px;
      font-weight: semi-bold;
      color: #888;
  }